{% extends "encyclopedia/layout.html" %}

{% block title %}

    Error!

{% endblock %}

{% block body %}

    <div id="error_back">
        <h2 id="error">{{message}}</h2>
    </div>


{% endblock %}