{% extends "encyclopedia/layout.html" %}


{% block title %}

    Create New Page

{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">

        {% csrf_token %}

        {{form}}<br>

        <input type="submit" value="create">

    </form>

{% endblock %}